@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
  font-family: "Lato", sans-serif;
}

#app::first-letter {
  text-transform: capitalize;
}

#app {
  width: 500px;
  min-height: 30vh;
  max-height: 50vh;
  overflow-y: scroll;
  padding: 0.8rem 0.5rem;
  line-height: normal;
  border: 1px solid rgba(128, 128, 128, 0.247);
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(128, 128, 128, 0.277);
  cursor: pointer;
}
